DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.+)/index\.html$ /$1/ [R=301,L]
</IfModule>

AuthType Basic
AuthName "Restricted Access"
AuthUserFile /etc/apache2/.htpasswd
Require valid-user
